* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url('webfonts/Chronosferdemo-0WGDo.otf') format('truetype');
  }

body {
    padding-left: 110px;
    background-image: url(img/background.jpg);
}

footer {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
    padding-bottom: 10px;
    justify-content: center;
    padding-right: 90px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #292929;
}

 h1 {
    text-align: center;
    font-family: 'MyFont';
    font-size: 80px;
    color: #07ff94;
    margin-top: -30px;
    padding-bottom: -40px;
    text-shadow: 1px 1px 2px #121212;
    font-weight: lighter;
}

.container {
    margin: 40px 80px;
    box-shadow: 2px 2px 4px #121212;
    background-color: rgb(48, 101, 111);
    background: linear-gradient(to right, #0b655b, #436f61);
    opacity: 0.8;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1ch;
    width: 900px;
    height: 700px;
}

.choose-text {
    font-size: 34px;
    font-family: 'MyFont';
    font-weight: lighter;
    text-align: center;
    margin-top: -60px;
    margin-bottom: -90px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #121212;
}

#playfield {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

.score {
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'MyFont';
    color: #ffffff;
    text-shadow: 1px 1px 2px #121212;
}

#playfield > button > img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}


.btn {
    width: 250px;
    height: 250px; 
    padding: 0;
    flex-shrink: auto;
    border-radius: 20ch;
    background-color: transparent;
    margin-top: -50px;
    backdrop-filter: blur(10px);
    transition: transform 0.5s ease-in-out;
    border-color: #07ff94;
    box-shadow: 1px 1px 1px #121212;
}

.btn:hover {
    background-color: #2f2e2e;
    color: #fff;
    cursor: pointer;
    transform: scale(0.9);
}


.scoreContainer {
    display: flex;
    direction: row;
    box-shadow: 1px 1px 1px #121212;
    background-color: rgb(53, 52, 52);
    background: linear-gradient(to right, #252625, #323232);
    justify-content: space-around;
    color:#eed515;
    font-family: 'MyFont';
    text-shadow: 1px 1px 2px #121212;
}

#points {
    padding-right: 50px;
}

.number {
    padding-left: 10px;
    margin-top: 4px;
}

h2 {
    color: #07ff94;
}

#cpuPick {
    color: #fff;
    font-size: 38px;
    font-weight: lighter;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}